body {
    background: rgba(140, 142, 83, 0.345);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    font-size: 40px;
}

.first {
    color: red;
}

#your-name {
    background-color: rgb(136, 136, 60);
    border: 5px solid #8e8d8d;
}
#course-image {
    padding: 10px 30px;
}